.wrap .colormag-header {
	background-color: #fff;
	padding: 12px 20px;
	border-bottom: 1px solid #ccd0d4;
	margin-left: -20px;
	margin-right: -20px;
}

.appearance_page_colormag-options .wrap {
	margin-top: 0;
}

/* Notices. */
.colormag-notice {
	position: relative;
	padding: 8px 40px 8px 8px;
}

.colormag-notice .links {
	margin: 1.2em 0;
	display: flex;
	flex-wrap: wrap;
}

.colormag-notice .links a {
	margin-right: 10px;
}

.colormag-notice .links a > span {
	vertical-align: middle;
	padding-right: 5px;
}

.colormag-notice .notice-text .coupon-code {
	display: inline-block;
}

.colormag-notice .notice-dismiss {
	text-decoration: none;
}

/* Welcome notice. */
.colormag-message__content {
	display: flex;
}

.colormag-message__content .colormag-message__image {
	flex: 0 0 160px;
	min-height: 100px;
	margin-right: 12px;
	padding-right: 12px;
	border-right: 1px solid #FCFCFD;
}

.colormag-message__content .colormag-message__image .colormag-screenshot {
	width: 100%;
	box-shadow: 0 0 1px 0 #ccd0d4;
	margin: 0;
	float: none;
}

.colormag-message__content .colormag-message__heading {
	margin-top: 0;
	margin-bottom: 12px;
	line-height: 1.4;
}

.colormag-message__content .colormag-message__cta {
	display: flex;
	align-items: center;
}

.colormag-message__content .colormag-message__cta .plugin-install-notice {
	margin-left: 15px;
	line-height: 1.4;
}

.colormag-message__content .colormag-message__cta a:before {
	margin: 5px;
	vertical-align: middle;
}

a.colormag-message-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 15px 10px 21px;
	font-size: 13px;
	line-height: 1.23076923;
	text-decoration: none;
}

a.colormag-message-close:before {
	position: absolute;
	top: 8px;
	left: 0;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

@media screen and (max-width: 768px) {
	.colormag-message__content .colormag-message__image {
		display: none;
	}
}

/* Dashboard page. */
.wrap .colormag-header {
	background-color: #fff;
	padding: 12px 20px;
	border-bottom: 1px solid #ccd0d4;
	margin-left: -20px;
	margin-right: -20px;
}

.appearance_page_colormag-options .wrap {
	margin-top: 0;
}

/* Responsive. */
@media (max-width: 768px) {
	.colormag-message__content .colormag-screenshot {
		display: none;
	}
	.colormag-message__content .colormag-message__text {
		padding: 0;
		width: 100%;
	}
}

/* Colormag review notice */
.colormag-notice.theme-review-notice {
	border-left-color: #289dcc;
	padding: 20px 15px;
}

@media screen and (max-width: 768px) {
	.colormag-notice.theme-review-notice .colormag-message__content {
		display: flex;
		flex-direction: column;
	}
}

.colormag-notice.theme-review-notice .colormag-message__image {
	flex: 0;
	min-height: auto;
	margin-right: 35px;
	margin-left: 10px;
	padding-right: 0;
	border-right: none;
}

.colormag-notice.theme-review-notice .colormag-logo--png {
	width: 80px;
	height: 80px;
}

.colormag-notice.theme-review-notice h3 {
	font-size: 21px;
	margin: 0;
	line-height: 1;
	color: #000;
}

.colormag-notice.theme-review-notice p {
	font-size: 14px;
	line-height: 21px;
	color: #3C434A;
	margin: 0 0 6px 0;
	max-width: 720px;
}

.colormag-notice.theme-review-notice span.dashicons.dashicons-smiley.smile-icon {
	background: #f7e143;
	border-radius: 50%;
	font-size: 15px;
	border: 1px solid;
	width: 17px;
	height: 17px;
}

.colormag-notice.theme-review-notice .button-primary {
	background: #289dcc;
	border-color: #289dcc;
	box-shadow: none;
	color: #fff;
}

@media screen and (max-width: 768px) {
	.colormag-notice.theme-review-notice .button-primary {
		margin-bottom: 10px;
	}
}

.colormag-notice.theme-review-notice .button-secondary {
	color: #289dcc;
	border-color: #289dcc;
	background: #f6f7f7;
	vertical-align: top;
}

@media screen and (max-width: 768px) {
	.colormag-notice.theme-review-notice .button-secondary {
		margin-bottom: 10px;
	}
}

.colormag-notice.theme-review-notice strong {
	color: #000;
}

.colormag-notice.theme-review-notice .links {
	margin: 1.2em 0 5px 0;
}

.colormag-notice.theme-review-notice a.btn {
	display: flex;
	max-width: fit-content;
	justify-content: center;
	align-items: center;
}
