/**
 * Background control CSS.
 */
.customize-control-colormag-background .customize-control-content > div {
	margin-bottom: 15px;
}

/**
 * Radio buttonset control CSS.
 */
.customize-control-colormag-buttonset .buttonset {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.customize-control-colormag-buttonset .buttonset .buttonset-inner {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.customize-control-colormag-buttonset .buttonset .buttonset-inner + .buttonset-inner {
	border-left: 0;
}

.customize-control-colormag-buttonset .buttonset .buttonset-inner .colormag-buttonset {
	background: #ebebeb;
	-webkit-box-shadow: inset 0 0 0 1px rgba(68, 68, 68, 0.1);
	box-shadow: inset 0 0 0 1px rgba(68, 68, 68, 0.1);
	color: #444444;
	display: block;
	padding: 5px 12px;
	text-align: center;
	-webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.customize-control-colormag-buttonset .buttonset .buttonset-inner .colormag-buttonset:hover {
	background: #ffffff;
}

.customize-control-colormag-buttonset .buttonset .buttonset-inner input {
	display: none;
}

.customize-control-colormag-buttonset .buttonset .buttonset-inner input:checked + label {
	background: #0073aa;
	color: #ffffff;
}

.customize-control-colormag-buttonset .buttonset .buttonset-inner input:checked + label:hover {
	background: #0073aa;
	color: #ffffff;
}

.customize-control .actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.customize-control .actions .button {
	min-height: 34px;
	width: calc(50% - 8px);
}

.customize-control .actions .button:last-of-type {
	margin-right: 0px;
}

.customize-control-header button.random {
	min-height: 34px;
}

input[type=checkbox]:checked {
	border-radius: 2px;
	-webkit-box-shadow: 0 0 0 1px #0073aa;
	box-shadow: 0 0 0 1px #0073aa;
}

input[type=radio]:checked {
	-webkit-box-shadow: 0 0 0 1px #0073aa;
	box-shadow: 0 0 0 1px #0073aa;
}

input[type=range]:focus {
	outline: none;
}

/**
 * Alpha color control CSS.
 */
.customize-control-colormag-color .customizer-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.customize-control-colormag-color .customizer-wrapper .customize-control-title {
	display: block;
	margin: 0 0 8px 0;
}

.wp-picker-container .wp-color-result.button {
	background-color: #ebebeb !important;
	background-image: none !important;
	min-height: 34px;
	border: 1px solid #ebebeb;
}

.wp-picker-container .wp-color-result.button::after {
	border: 1px solid #ebebeb;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAAHnlligAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHJJREFUeNpi+P///4EDBxiAGMgCCCAGFB5AADGCRBgYDh48CCRZIJS9vT2QBAggFBkmBiSAogxFBiCAoHogAKIKAlBUYTELAiAmEtABEECk20G6BOmuIl0CIMBQ/IEMkO0myiSSraaaBhZcbkUOs0HuBwDplz5uFJ3Z4gAAAABJRU5ErkJggg==) !important;
	border-radius: 100%;
	content: "";
	height: 22px;
	left: 5px;
	position: absolute;
	top: 5px;
	width: 22px;
	z-index: 0;
}

.wp-picker-container .wp-color-result.button .wp-color-result-text {
	background: none;
	border: none;
	line-height: 2.15384615;
	padding: 0 10px 0 6px;
}

.wp-picker-container .wp-color-result.button .color-alpha {
	border: 1px solid #ebebeb;
	border-radius: 100% !important;
	height: 22px !important;
	left: 4px !important;
	top: 4px !important;
	width: 22px !important;
	z-index: 1;
}

.wp-picker-container .wp-picker-input-wrap .wp-picker-default {
	min-height: 34px !important;
}

.wp-picker-container .wp-picker-holder {
	-webkit-box-shadow: 0 0px 20px 0px rgba(68, 68, 68, 0.3);
	box-shadow: 0 0px 20px 0px rgba(68, 68, 68, 0.3);
}

.wp-picker-container .iris-picker {
	border-color: #ebebeb;
	margin-bottom: 5px;
}

.wp-picker-container .iris-picker .iris-alpha-slider {
	margin-right: -1px;
}

.customize-control-colormag-divider {
	padding: 0 !important;
}

/**
 * Custom control CSS.
 */
.customize-control-colormag-custom .colormag-custom-info {
	margin-bottom: 15px;
}

.customize-control-colormag-custom .colormag-custom-links li a {
	background: #0073aa;
	display: block;
	text-align: center;
	color: #ffffff;
	padding: 8px 16px;
	text-decoration: none;
}

/**
 * Divider control CSS.
 */
.customize-control-colormag-divider hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.customize-control-colormag-divider .divider-placement-above + .colormag-control-tooltip {
	top: 30px;
}

/**
 * Editor control CSS.
 */
.customize-control-colormag-editor .wp-editor-tools .wp-editor-container textarea {
	width: 100%;
}

/**
 * Group control CSS.
 */
.customize-control-colormag-group .colormag-group-wrap > .customizer-text {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.customize-control-colormag-group .colormag-group-toggle-icon {
	background: #ebebeb;
	border-radius: 100px;
	color: rgba(68, 68, 68, 0.6);
	cursor: pointer;
	font-size: 20px;
	padding: 5px;
	position: relative;
	right: 0;
	top: 0px;
}

.customize-control-colormag-group .colormag-group-toggle-icon:before {
	content: "\f464";
}

.customize-control-colormag-group .colormag-group-toggle-icon.open {
	background: #0073aa;
	color: #ffffff;
}

.customize-control-colormag-group .colormag-group-toggle-icon.open:before {
	content: "\f158";
}

.customize-control-colormag-group .colormag-group-toggle-icon.toggle-description {
	right: 25px;
}

.customize-control-colormag-group .colormag-field-settings-modal {
	background-color: #ffffff;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	left: 0;
	position: absolute;
	right: 0;
	z-index: 9999;
}

.customize-control-colormag-group .colormag-field-settings-modal:before {
	border: 8px solid transparent;
	border-bottom-color: #ffffff;
	content: "";
	pointer-events: none;
	position: absolute;
	right: 17px;
	top: -15px;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-field-settings-wrap {
	width: 100%;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-tabs,
.customize-control-colormag-group .colormag-field-settings-modal .colormag-tab-content {
	position: relative;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 15px 15px 0 15px;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list:before, .customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list:after {
	border-collapse: collapse;
	content: "";
	display: table;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list li {
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	margin: 0;
	padding: 0.5rem 0.5rem;
	text-align: center;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list li:not(:first-child) {
	border-left-width: 0;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list li:focus {
	outline-style: none;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list li.ui-state-active {
	background-color: #289dcc;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list li.ui-state-active a {
	color: #ffffff;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list li a {
	color: #555d66;
	text-decoration: none;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list li a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.customize-control-colormag-group .colormag-field-settings-modal .customize-control {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 15px 0 15px;
}

.customize-control-colormag-group .colormag-field-settings-modal .customize-control:last-child {
	margin-bottom: 15px;
}

/**
 * Heading control CSS.
 */
.customize-control-colormag-heading .colormag-heading-wrapper .customize-control-title {
	color: #444444;
	display: block;
	font-size: 14px;
	line-height: 1.2;
	margin: 0;
}

.customize-control-colormag-heading .colormag-heading-wrapper .customize-control-description {
	margin-top: 10px;
	padding: 0 12px;
}

.tool-tip {
	display: inline-block;
	position: relative;
}

.tool-tip .tooltip-text {
	background-color: #444444;
	border-radius: 4px;
	bottom: 125%;
	-webkit-box-shadow: 0 10px 20px 0px rgba(68, 68, 68, 0.2);
	box-shadow: 0 10px 20px 0px rgba(68, 68, 68, 0.2);
	color: #ffffff;
	left: 0;
	margin-left: calc(-120px / 2);
	opacity: 0;
	padding: 10px 10px;
	position: absolute;
	text-align: center;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	visibility: hidden;
	width: 120px;
	z-index: 1;
}

.tool-tip .tooltip-text::after {
	border-color: #444444 transparent transparent transparent;
	border-style: solid;
	border-width: 5px;
	content: "";
	left: 50%;
	margin-left: -5px;
	position: absolute;
	top: 100%;
}

.tool-tip:hover .tooltip-text {
	opacity: 1;
	visibility: visible;
}

#customize-theme-controls .customize-pane-child .accordion-section-content {
	padding: 10px;
}

.customize-control .customize-control-colormag-color {
	padding-bottom: 0;
}

li.customize-control.customize-control-colormag-hidden {
	padding: 0;
}

/**
 * Group control CSS.
 */
.customize-control-colormag-hidden.customize-control {
	margin-top: 0;
}

/**
 * Radio image control CSS.
 */
.customize-control-colormag-radio-image input {
	display: none;
}

.customize-control-colormag-radio-image input:checked + label img {
	background: #0073aa;
	border: 2px solid #0073aa;
	-webkit-box-shadow: 0 0 20px 0 rgba(0, 115, 170, 0.2);
	box-shadow: 0 0 20px 0 rgba(0, 115, 170, 0.2);
}

.customize-control-colormag-radio-image label {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin: 10px auto;
	position: relative;
}

.customize-control-colormag-radio-image label > img {
	background: #ebebeb;
	border: 2px solid #ebebeb;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.customize-control-colormag-radio-image .image-col-1:after,
.customize-control-colormag-radio-image .image-col-2:after,
.customize-control-colormag-radio-image .image-col-3:after,
.customize-control-colormag-radio-image .image-col-4:after {
	clear: both;
	content: '';
	display: block;
}

.customize-control-colormag-radio-image .image-col-1 label {
	width: 100%;
}

.customize-control-colormag-radio-image .image-col-2 label {
	width: calc((100% / 2) - 10px);
}

.customize-control-colormag-radio-image .image-col-3 label {
	width: calc((100% / 3) - 8px);
}

.customize-control-colormag-radio-image .image-col-4 label {
	margin-right: 5px;
	width: calc((100% / 4) - 8px);
}

/**
 * Slider control CSS.
 */
.customize-control-colormag-slider .slider-wrapper {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.customize-control-colormag-slider .slider-wrapper input[type=range] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 5px;
	padding: 0;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.customize-control-colormag-slider .slider-wrapper input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: #289dcc;
	border-radius: 100%;
	height: 16px;
	width: 16px;
}

.customize-control-colormag-slider .slider-wrapper input[type=range]::-moz-range-thumb {
	background: #289dcc;
	border-radius: 100%;
	height: 16px;
	width: 16px;
}

.customize-control-colormag-slider .slider-wrapper input[type=range]::-ms-thumb {
	background: #289dcc;
	border-radius: 100%;
	height: 16px;
	width: 16px;
}

.customize-control-colormag-slider .slider-wrapper .colormag-range-value {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 0 0 5px;
}

.customize-control-colormag-slider .slider-wrapper .colormag-range-value input[type=number] {
	font-size: 12px;
	padding: 3px;
	width: 60px;
}

.customize-control-colormag-slider .slider-wrapper .colormag-range-value .colormag-range-unit {
	padding: 0 0 0 5px;
}

.customize-control-colormag-slider .slider-wrapper .colormag-slider-reset {
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	-webkit-transition: color 0.3s ease-in;
	transition: color 0.3s ease-in;
}

.customize-control-colormag-slider .slider-wrapper .colormag-slider-reset span {
	font-size: 14px;
}

.customize-control-colormag-slider .slider-wrapper .colormag-slider-reset:hover, .customize-control-colormag-slider .slider-wrapper .colormag-slider-reset:focus {
	color: #289dcc;
}

.customize-control-colormag-slider .slider-wrapper.slider-description .colormag-slider-reset span {
	right: 20px;
}

/**
 * Sortable control CSS.
 */
.customize-control-colormag-sortable ul.ui-sortable {
	cursor: default;
}

.customize-control-colormag-sortable ul.ui-sortable .dashicons-visibility {
	cursor: pointer;
}

.customize-control-colormag-sortable ul.ui-sortable li {
	padding: 5px 10px;
	border: 1px solid #555555;
	background: #ffffff;
	cursor: move;
}

.customize-control-colormag-sortable ul.ui-sortable li .dashicons.dashicons-menu {
	float: right;
}

.customize-control-colormag-sortable ul.ui-sortable li .dashicons.visibility {
	margin-right: 10px;
}

.customize-control-colormag-sortable ul.ui-sortable li.invisible {
	color: #aaaaaa;
	border: 1px dashed #aaaaaa;
}

.customize-control-colormag-sortable ul.ui-sortable li.invisible .dashicons.visibility {
	color: #aaaaaa;
}

/**
 * Switch toggle control CSS.
 */
.customize-control-colormag-toggle {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.customize-control-colormag-toggle label {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 16px;
	right: 0;
	top: 4px;
}

.customize-control-colormag-toggle label.toggle-description {
	right: 20px;
}

.customize-control-colormag-toggle label input {
	display: none;
}

.customize-control-colormag-toggle label input:checked + .switch:before {
	background: #ffffff;
	border-color: #ffffff;
	left: -6px;
	-webkit-transform: translateX(20px);
	transform: translateX(20px);
}

.customize-control-colormag-toggle label input:checked + .switch {
	background-color: #0073aa;
	border-color: #0073aa;
}

.customize-control-colormag-toggle label .switch {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ffffff;
	border: 2px solid #444444;
	border-radius: 100px;
	-webkit-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.customize-control-colormag-toggle label .switch:before {
	position: absolute;
	content: '';
	height: 6px;
	width: 6px;
	left: 3px;
	bottom: 1px;
	border: 2px solid #444444;
	background: #444444;
	border-radius: 100%;
	-webkit-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

/**
 * Typography control CSS.
 */
.customize-control-colormag-typography .customize-control-content > div {
	margin-bottom: 15px;
}

.customize-control-colormag-typography .customize-control-content .font-size,
.customize-control-colormag-typography .customize-control-content .line-height,
.customize-control-colormag-typography .customize-control-content .letter-spacing {
	position: relative;
}

.customize-control-colormag-typography .customize-control-content .control-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.customize-control-colormag-typography .customize-control-content .unit {
	background: #ebebeb;
	border-radius: 0 2px 2px 0;
	font-weight: 500;
	line-height: 34px;
	padding: 0 12px;
	text-transform: uppercase;
}

.customize-control-colormag-typography .customize-control-content .font-style,
.customize-control-colormag-typography .customize-control-content .font-family,
.customize-control-colormag-typography .customize-control-content .font-weight,
.customize-control-colormag-typography .customize-control-content .text-transform {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.customize-control-colormag-typography .customize-control-content .font-style .colormag-field-content,
.customize-control-colormag-typography .customize-control-content .font-family .colormag-field-content,
.customize-control-colormag-typography .customize-control-content .font-weight .colormag-field-content,
.customize-control-colormag-typography .customize-control-content .text-transform .colormag-field-content {
	padding-top: 2px;
	width: 180px;
}

span.select2-container.select2-container--default.select2-container--open {
	z-index: 999999;
}

/**
 * Title control CSS.
 */
.customize-control-colormag-title {
	border-bottom: 1px solid #ebebeb;
	margin-top: 15px;
}

.customize-control-colormag-title:nth-child(2) {
	margin-top: 0;
}

.colormag-title-wrapper {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.colormag-title-wrapper .dashicons-editor-help {
	color: rgba(68, 68, 68, 0.5);
	margin-left: 5px;
}

.colormag-title-wrapper .dashicons-editor-help:hover {
	color: #444444;
}

.colormag-title-wrapper .guide-tutorial > span {
	border-right: 1px solid #eeeeee;
	padding: 0 5px 0 8px;
}

.colormag-title-wrapper .guide-tutorial > span:first-child, .colormag-title-wrapper .guide-tutorial > span:last-of-type {
	border-right: 0;
	padding-right: 0;
}

.colormag-title-wrapper .guide-tutorial > span a {
	font-weight: 500;
	text-decoration: none;
}

.colormag-title-wrapper label.customizer-text {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/**
 * Dimensions control CSS.
 */
.customize-control-colormag-dimensions {
	position: relative;
}

.customize-control-colormag-dimensions .wrapper {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 6px 8px;
}

.customize-control-colormag-dimensions .wrapper .control {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.customize-control-colormag-dimensions .wrapper .control .top, .customize-control-colormag-dimensions .wrapper .control .right, .customize-control-colormag-dimensions .wrapper .control .bottom, .customize-control-colormag-dimensions .wrapper .control .left {
	width: 23%;
}

.customize-control-colormag-dimensions .wrapper .control .top h5, .customize-control-colormag-dimensions .wrapper .control .right h5, .customize-control-colormag-dimensions .wrapper .control .bottom h5, .customize-control-colormag-dimensions .wrapper .control .left h5 {
	margin: 0;
	font-weight: normal;
}

p.upgrade-description {
	margin-top: 10px;
	font-style: italic;
}
